@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap");

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 100;
  }
}

.navbar {
  background: rgb(0, 157, 255);
  background: linear-gradient(
    17deg,
    rgba(0, 157, 255, 1) 48%,
    rgba(0, 212, 255, 1) 100%
  );
  color: white;
  animation: 1s ease-out 0s 1 slideInFromTop;
}

.logo {
  font-family: "Roboto Condensed", sans-serif;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border: 2px;
  border-color: white;
  border-style: solid;
}

.carousel {
  height: 45rem;
  width: 100%;
  background: linear-gradient(
      157deg,
      rgba(0, 0, 0, 0.8) 4%,
      rgba(0, 0, 0, 0.1) 100%
    ),
    url("../img/factory.jpg");
  background-position: center;
  color: white;
  clip-path: polygon(0% 0%, 200% 0%, 35% 100%, 0% 61%);
}

.banner-right {
  width: 75%;
  height: 40%;
  background: rgb(0, 212, 255);
  background: linear-gradient(
    321deg,
    rgba(0, 212, 255, 1) 33%,
    rgba(0, 170, 255, 1) 100%
  );
  position: absolute;
  -webkit-clip-path: polygon(13% 100%, 100% 0%, 100% 0%, 100% 25%);
  -o-clip-path: polygon(13% 100%, 100% 0%, 100% 0%, 100% 25%);
  -ms-clip-path: polygon(13% 100%, 100% 0%, 100% 0%, 100% 25%);
  -moz-clip-path: polygon(13% 100%, 100% 0%, 100% 0%, 100% 25%);
  clip-path: polygon(13% 100%, 100% 0%, 100% 0%, 100% 25%);
  right: 0;
  bottom: 0;
}

.banner-left {
  width: 35%;
  height: 39%;
  background: rgb(0, 212, 255);
  background: linear-gradient(
    321deg,
    rgba(0, 212, 255, 1) 33%,
    rgba(0, 170, 255, 1) 100%
  );
  position: absolute;
  -webkit-clip-path: polygon(0% 0%, 0% 0%, 100% 99.6%, 0% 25%);
  -moz-clip-path: polygon(0% 0%, 0% 0%, 100% 99.6%, 0% 25%);
  -o-clip-path: polygon(0% 0%, 0% 0%, 100% 99.6%, 0% 25%);
  -ms-clip-path: polygon(0% 0%, 0% 0%, 100% 99.6%, 0% 25%);
  clip-path: polygon(0% 0%, 0% 0%, 100% 99.6%, 0% 25%);
  z-index: 1;
  bottom: 0;
}

.small-image-frame {
}

.small-image {
  max-width: 300px;
  box-shadow: -10px -11px 0 rgba(0, 170, 255, 1);
  -webkit-box-shadow: -10px -11px 0 rgba(0, 170, 255, 1);
  -moz-box-shadow: -10px -11px 0 rgba(0, 170, 255, 1);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

.welcome-heading {
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  animation: 1s ease-out 0s 1 fadeIn;
  color: #0f0f0f;
}

.frequently-asked {
  font-family: "Poppins", sans-serif;
}

.welcome-small {
  display: block;
  font-size: 16px;
  color: #04a9ff;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  margin-bottom: -5px;
}

.welcome-description {
  color: #666;
  line-height: 28px;
  animation: 1s ease-out 0s 1 fadeIn;
}

.nav-a:hover {
  background-color: rgba(0, 0, 0, 0.5);
  /* transform: skewX(-15deg); */
  transition: 0.5s ease;
}

.selected-nav {
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.call-to-action {
  background: rgb(0, 157, 255);
  background: linear-gradient(
    17deg,
    rgba(0, 157, 255, 1) 48%,
    rgba(0, 212, 255, 1) 100%
  );
  color: #fff;
  padding: 20px 0;
}

.call-to-action-end {
  width: 50%;
  height: 50px;
  background: linear-gradient(
    17deg,
    rgb(76, 186, 255) 48%,
    rgba(0, 212, 255, 1) 100%
  );
  position: absolute;
  top: -1px;
  right: 0;
  -webkit-clip-path: polygon(100% 100%, 100% 0%, 0% 0%);
  -moz-clip-path: polygon(100% 100%, 100% 0%, 0% 0%);
  -ms-clip-path: polygon(100% 100%, 100% 0%, 0% 0%);
  -o-clip-path: polygon(100% 100%, 100% 0%, 0% 0%);
  clip-path: polygon(100% 100%, 100% 0%, 0% 0%);
}

.get-in-touch {
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  font-size: 3.5rem;
  letter-spacing: -2px;
  margin-bottom: -15px;
}

.get-in-touch-sub {
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  margin-top: 0 !important;
}

.call-to-action-btn {
  color: #fff;
  text-transform: uppercase;
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  height: 65px;
  width: 250px;
  border: 2px solid #fff;
  display: block;
  text-align: center;
  line-height: 65px;
  box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.2);
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  margin: 0 0 0 auto;
  transition: 0.3s ease;
}

.call-to-action-btn:hover {
  background-color: #0f0f0f;
  cursor: pointer;
  transition: 0.3s ease;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 100;
  }
}

.carousel-heading {
  animation: 1s ease-out 0s 1 slideInFromLeft;
}

.carousel-description {
  animation: 1s ease-out 0s 1 slideInFromLeft;
}
